@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	margin: 0 auto;
	background-color:#F5F5F5;

}
.frame-2 {
  padding: 0 0 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.beb1{
 left: 20px;
}
.glavnaja {
  height: 385px;
  width: 1920px;
  position: relative;
}
.fon {
top:0%;
  width: 1920px;
  height: 1000px;
  background-color: var(--sky-blue);
  position: relative;
}
.group-1 {
  padding: 0 0 0 191px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 113px;
  bottom: -487px;
}
.stud-verh {
margin-left:-50%;
  height: 176px;
  width: 698px;
  color: var(--dark-blue);
  display: flex;
  position: absolute;
  left: 9px;
  top: 322px;
  font-family: var(
    --montserrat-alternates-128-regular-family
  );
  font-size: var(--montserrat-alternates-128-regular-size);
  font-weight: var(
    --montserrat-alternates-128-regular-weight
  );
  line-height: var(
    --montserrat-alternates-128-regular-line-height
  );
}

.women-power-social-distance {
  width: 700px;
  height: auto;


}

.flex-wrapper-one {
  display: flex;
  align-items: flex-start;
  position: absolute;
  margin-left:-70%;
  top: 425px;
}
.shkola {

  height: 94px;
  width: 419px;
  display: flex;
  position: absolute;
  left: 0;
  top: 10px;
  color: var(--sky-blue);
  font-family: var(
    --montserrat-alternates-128-regular-family
  );
  font-size: var(--montserrat-alternates-128-regular-size);
  font-weight: var(
    --montserrat-alternates-128-regular-weight
  );
  line-height: var(
    --montserrat-alternates-128-regular-line-height
  );
}
.shkola-emphasis-1 {
  color: var(--tan);
  font-family: var(
    --montserrat-alternates-128-regular-family
  );
  font-size: var(--montserrat-alternates-128-regular-size);
  font-weight: var(
    --montserrat-alternates-128-regular-weight
  );
  line-height: var(
    --montserrat-alternates-128-regular-line-height
  );
}
.shkola-verh {
  height: 104px;
  width: 649px;
  color: var(--white-smoke);
  display: flex;
  position: relative;
  font-family: var(
    --montserrat-alternates-128-regular-family
  );
  font-size: var(--montserrat-alternates-128-regular-size);
  font-weight: var(
    --montserrat-alternates-128-regular-weight
  );
  line-height: var(
    --montserrat-alternates-128-regular-line-height
  );
}
/* This is the project stylesheet */

:root {
  /* Colors */
  --dark-blue: rgba(30, 9, 153, 1);
  --sky-blue: rgba(152, 202, 221, 1);
  --tan: rgba(210, 204, 161, 1);
  --white-smoke: rgba(245, 245, 245, 1);

  /* Typographies */
  /* montserrat-alternates-128-regular */
  --montserrat-alternates-128-regular-family: "Montserrat Alternates";
  --montserrat-alternates-128-regular-size: 128px;
  --montserrat-alternates-128-regular-weight: 400;
  --montserrat-alternates-128-regular-line-height: normal;
}

h1 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 0.15em;
  font-size: 3em;
  line-height: 1.2;
  transform: translateY(52%);
}


#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #196C8C;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
.hedliner {



font-family: 'Alegreya Sans';
font-style: normal;
margin-left: -20%;

/* identical to box height */


color: #196C8C;
}

/**
Nav Styles
**/

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
.headerFrame{

}
div.nav:z-ind {

        display: block;
        z-index:99999999;
    }
.line{
color: #ffffff;
size:1px;

}
