.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:385px;
  min-width:200px;
  max-width:1800px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(0, 0, 0, 1);
  box-sizing:border-box;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.q-------{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:-1px;
  width:668px;
  min-width:668px;
  height:385px;
  margin-top:-1px;
  margin-bottom:-2px;
  min-height:385px;
}
.q--------outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.q---{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:0px;
  width:668px;
  min-width:668px;
  height:385px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:385px;
  background-color:rgba(152, 202, 221, 1);
}
.q----outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.q----------1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:272px;
  width:337px;
  min-width:337px;
  height:375px;
  margin-top:-375px;
  margin-bottom:0px;
  min-height:375px;
  background-color:rgba(152, 202, 221, 0.65);
  overflow:hidden;
  visibility:hidden;
}
.q----------1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Allura-Standing--col{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:170px;
  width:226px;
  min-width:226px;
  height:255px;
  margin-top:78px;
  margin-bottom:42px;
  min-height:255px;
  content:url(assets/images/Allura_Standing__colors_.png);
}
.Allura-Standing--col-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.q------------{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:-21px;
  width:339px;
  min-width:339px;
  height:204px;
  margin-top:-239px;
  margin-bottom:35px;
  min-height:204px;
}
.q-------------outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Allura-Sitting--colo{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:108px;
  width:183.3px;
  min-width:183.3px;
  height:198px;
  margin-top:0px;
  margin-bottom:6px;
  min-height:198px;
  content:url(main/img/Allura_Sitting__colors_.png);
}
.Allura-Sitting--colo-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Allura-Chair-2{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:0px;
  width:339px;
  min-width:339px;
  height:128px;
  margin-top:-128px;
  margin-bottom:0px;
  min-height:128px;
  content:url(main/img/Allura_Chair_2.png);
}
.Allura-Chair-2-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Line-1{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:626px;
  width:31px;
  min-width:31px;
  margin-top:-369px;
  margin-bottom:369px;
  min-height:undefinedpx;
}
.Line-1-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Line-2{
  position:relative;
  z-index:16;
  pointer-events:none;
  transform:rotate(-1.4033419209422001e-14deg);
  margin-left:-1px;
  width:31px;
  min-width:31px;
  margin-top:6px;
  margin-bottom:-6px;
  min-height:undefinedpx;
  border:1px solid rgba(245, 245, 245, 1);
}
.Line-2-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Line-3{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:-1px;
  width:31px;
  min-width:31px;
  margin-top:12px;
  margin-bottom:-12px;
  min-height:undefinedpx;
  border:1px solid rgba(245, 245, 245, 1);
}
.Line-3-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Line-1-1{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:-3.225806451612903%;
  width:100%;
  margin-top:0%;
  height:NaN%;
  border:1px solid rgba(245, 245, 245, 1);
}
.Line-1-1-outer{
  pointer-events:none;
  z-index:15;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.q-----{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:0px;
  width:668px;
  min-width:668px;
  margin-top:-346px;
  margin-bottom:346px;
  min-height:undefinedpx;
}
.q------outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Stud-----{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:24px;
  width:202px;
  min-width:202px;
  margin-top:-29px;
  margin-bottom:0px;
  min-height:29px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(245, 245, 245, 1);
  font-style:normal;
  font-family:Alegreya Sans;
  font-weight:400;
  font-size:24px;
  line-height:28.18181800842285px;
}
.Stud------outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.q----{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:487px;
  width:66px;
  min-width:66px;
  height:24px;
  margin-top:-29px;
  margin-bottom:5px;
  min-height:24px;
}
.q-----outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Rectangle-2{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:0px;
  width:66px;
  min-width:66px;
  height:24px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:24px;
  background-color:rgba(242, 240, 222, 0.22);
  border-radius:11px;
}
.Rectangle-2-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.q-----1{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:10px;
  width:56px;
  min-width:56px;
  margin-top:-21px;
  margin-bottom:7px;
  min-height:14px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(245, 245, 245, 1);
  font-style:normal;
  font-family:Montserrat;
  font-weight:400;
  font-size:16px;
  line-height:19.09090805053711px;
}
.q-----1-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.q-----2{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:566px;
  width:45.02px;
  min-width:45.02px;
  height:14px;
  margin-top:-25px;
  margin-bottom:11px;
  min-height:14px;
}
.q-----2-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.RUS{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:0px;
  width:34px;
  min-width:34px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:14px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(245, 245, 245, 1);
  font-style:normal;
  font-family:Montserrat;
  font-weight:400;
  font-size:15px;
  line-height:18.18181800842285px;
}
.RUS-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.q---------{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:37px;
  width:8.02px;
  min-width:8.02px;
  height:5.95px;
  margin-top:-7px;
  margin-bottom:1.0500000000000007px;
  min-height:5.95px;
}
.q----------outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Line-5{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:4px;
  width:6.02px;
  min-width:6.02px;
  height:7.73px;
  margin-top:0px;
  margin-bottom:-1.7800000000000011px;
  min-height:7.73px;
  content:url(main/img/Line_5.png);
}
.Line-5-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Line-4{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:0px;
  width:6.36px;
  min-width:6.36px;
  height:7.95px;
  margin-top:-5.95px;
  margin-bottom:-2px;
  min-height:7.95px;
  content:url(main/img/Line_4.png);
}
.Line-4-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Line-6{
  position:relative;
  z-index:19;
  pointer-events:none;
  transform:rotate(-1.4033419209422001e-14deg);
  margin-left:0%;
  width:100%;
  margin-top:0%;
  height:NaN%;
  border:1px solid rgba(180, 222, 238, 0.65);
}
.Line-6-outer{
  pointer-events:none;
  z-index:19;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Women-Power-Social-D{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:194px;
  width:617px;
  min-width:617px;
  height:327px;
  margin-top:-327px;
  margin-bottom:0px;
  min-height:327px;
  content:url(main/img/Women_Power_Social_Distance.png);
}
.Women-Power-Social-D-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.STUD-----{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:34px;
  width:306px;
  min-width:306px;
  margin-top:-215px;
  margin-bottom:127px;
  min-height:88px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(30, 9, 153, 1);
  font-style:normal;
  font-family:Montserrat Alternates;
  font-weight:400;
  font-size:96px;
  line-height:117.27272033691406px;
}
.STUD------outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.q----------{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:34px;
  width:381px;
  min-width:381px;
  margin-top:-138px;
  margin-bottom:44px;
  min-height:94px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(245, 245, 245, 1);
  font-style:normal;
  font-family:Montserrat Alternates;
  font-weight:400;
  font-size:90px;
  line-height:109.99999237060547px;
}
.q-----------outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.q------1{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:34px;
  width:419px;
  min-width:419px;
  margin-top:-133px;
  margin-bottom:39px;
  min-height:94px;
  text-align:left;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Montserrat Alternates;
  font-weight:400;
  font-size:90px;
  line-height:109.99999237060547px;
}
.q------1-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.q------1-1{
  color:rgba(152, 202, 221, 1);
  font-style:normal;
  font-family:Montserrat Alternates;
  font-weight:400;
  font-size:90px;
  line-height:109.99999237060547px;
}
.q------1-2{
  color:rgba(210, 204, 161, 1);
  font-style:normal;
  font-family:Montserrat Alternates;
  font-weight:400;
  font-size:90px;
  line-height:109.99999237060547px;
}
.q------1-3{
  color:rgba(152, 202, 221, 1);
  font-style:normal;
  font-family:Montserrat Alternates;
  font-weight:400;
  font-size:90px;
  line-height:109.99999237060547px;
}
.q--------{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:184px;
  width:74px;
  min-width:74px;
  height:68px;
  margin-top:-112px;
  margin-bottom:44px;
  min-height:68px;
  content:url(main/img/_________.png);
  visibility:hidden;
}
.q---------outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
