@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	margin: 0 auto;
	background-color:#F5F5F5;
}
p {
	margin: 0 auto;
}
#button_back{
	width: 160px;
	height: 57px;
	display: flex;
	justify-content: space-around;
	margin: 40 0 0 20;
}
#button_back_img {
	width: 35px;
	height: 57px;
}
#button_back_text {
	width: 125px;
	height: 47px;
	padding-top: -5px;
}
#button_back_text p{
	margin-top: 10px;
	color: #09264F;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 35px;
}
#img_bb{
	margin-top: 13px;
	height: 95%;
}
#img_yzor{
	margin-top: 4%;
	align-content:left;
	width: 12%;
	height: 30%;
}
.center-pic{
text-align:center;

}
#crug{
margin-top: 4%;
width: 20%;
	height: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;

}

html, body {
    height: 100%;
    background-color: #98CADD;
    overflow: hidden;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 50vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
#img_yzor{
	margin-top: 3%;
	align-content:left;
	width: 12%;
	height: 30%;
}
#img_bb{
	margin-top: 65px;
	height: 95%;
}

#button_back_text p{
	margin-top: 65px;
	color: #09264F;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 35px;

}
#img_bb{
	margin-top: 65px;
	height: 95%;
}

.kartochka-vuza {
  padding: 1px 0 0;
}

.fil-tr {
  background-color: #ffffff;
  border-radius: 22px;
  padding: 7.45px 22.82px 6.18px 18.26px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  margin-left: 41%;
  margin-top: 1%;

}
.po-populjarnosti {
  height: 26.08px;
  width: 273.86px;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 6.88px;


}
.strelochka {
  width: 15.98px;
  height: 9.31px;
  margin-top: 11.18px;
}
.group-1 {
  padding: 0 8px 18px 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 360px;
  top: 363px;
}
.fon {
top:0%;
  width: 1920px;
  height: 1000px;
  background-color: var(--sky-blue);
  position: relative;
}
