{% extends 'main/base.html'%}
{%  block title%}Задать вопрос{% endblock%}
{%load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'main/css/askquestion.css' %}">
{% endblock %}
{%  block content%}
{% if request.user.is_authenticated %}
<div class="form-body" >
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Задайте вопрос</h3>
  <form action=" {% url 'askquestion' %}" method="post" class="requires-validation" enctype="multipart/form-data">
      {% csrf_token %}
      <dif class="form-error">{{ form.non_field_errors }}</dif>
      {% for f in form%}
      <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}:</label>{{ f }}</p>
      <def class="form-error">{{f.errors}}</def>
      {% endfor %}

      <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Задать вопрос</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

  </form>
<div id="yzor">
<img src="/media/photos/2022/20/yzor.png" id="img_yzor">
</div>
{%else%}
<h3 style="margin-left:5%;margin-top:5%;">Для того, чтобы задать вопрос, нужно зайти в аккаунт :-)</h3>

<img style="margin-left:13%;margin-top:-5%;" src="/media/photos/2022/20/sad.png" >
{% endif%}

{% endblock%}