{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    {% block head%}

{% endblock %}
</head>
<body class="websiteBody" >
<header class="headerFrame" >
    <div  >
    <div class="container" >
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
<h1 class="hedliner" style="color: #196C8C; margin-top: -2%;">StudШкола</h1>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">




        </ul>





{% if request.user.is_authenticated %}
            <a    class="hedliner" style="text-decoration:none; margin-top: 1%;margin-left:25%;font-size: 40px; position:absolute">Здравствуйте, {{user.username}}! </a>
          <div class="text-end">
            <a  href="{%url 'logout'%}" class="btn btn-outline-dark me-2" style= " text-decoration:none; margin-top: 25%">Выйти</a>

            {%else%}
          <div class="text-end">
            <a  href="{%url 'register'%}" class="btn btn-outline-dark me-2" style= " text-decoration:none; margin-top: 15%">Регистрация</a>
<a  href="{%url 'login'%}" class="btn btn-outline-dark me-2" style= " text-decoration:none; margin-top: 15%">Вход</a>

{%endif%}
              <a  href="{%url 'menuu'%}"type="button" class="btn btn-secondary btn-lg active" style="background-color:#196C8C; right:5%; position:absolute;margin-top: 1%">Меню<a/>
               </div>


      </div>

    </div>
        </div>





<hr stylle="size:2">


{% block content%}


{% endblock %}
</body>
</html>