{% extends 'main/base.html'%}


{%load static %}




{% block head%}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">

  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

  <title>st</title>
  <meta name="description" content="st Description">
  <meta property="og:title" content="st">
  <meta property="og:description" content="st Description">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400">
    <link rel="stylesheet" href="index.css">
    

      
    {% endblock %}
{% block content%}

      <div class="frame-2">
  <div class="glavnaja">
    <div class="fon"></div>
    <div class="group-1">
      <p class="stud-verh">STUD</p>
      <img
        alt=""
        class="women-power-social-distance"
        src=" /media/photos/2022/09/15/Women_Power_Social_Distance.png/ "
      />
      <div class="flex-wrapper-one">
        <p class="shkola">
          ШК<strong class="shkola-emphasis-1">О</strong>ЛА
        </p>
        <p class="shkola-verh">ШКОЛА</p>
      </div>
    </div>
  </div>
</div>
    {% endblock %}

  </html>




