{% extends 'main/base.html'%}


{%load static %}


{% block head%}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">

  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

  <title>st</title>
  <meta name="description" content="st Description">
  <meta property="og:title" content="st">
  <meta property="og:description" content="st Description">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400">
    <link rel="stylesheet" href="index.css">
    
      <script src="main/js/index.js"></script>
      
    {% endblock %}
{% block content%}
      <div class="Page-outer">
    <div
      id="Page"
      data-name="Page"
      class="Page"
    >
      <div class="Frame-outer">
      <div
        id="Frame"
        data-name="Frame 1"
        class="Frame"
      >
        <div class="q--------outer">
        <div
          id="q-------"
          data-name="Главная"
          class="q-------"
        >
          <div class="q----outer">
          <div
            id="q---"
            data-name="фон"
            alt="фон"
            class="q---"
          >
          </div>
          </div>
          <div class="q----------1-outer">
          <div
            id="q----------1"
            data-name="человечки"
            class="q----------1"
          >

            <div class="q-------------outer">
            <div
              id="q------------"
              data-name="ЧЕЛ НА СТУЛЕ"
              class="q------------"
            >
              <div class="Allura-Sitting--colo-outer">
              <img
                id="Allura-Sitting--colo"
                data-name="Allura Sitting [colors]"
                alt="Allura Sitting [colors]"
                class="Allura-Sitting--colo"
              />
              </div>
              <div class="Allura-Chair-2-outer">
              <img
                id="Allura-Chair-2"
                data-name="Allura Chair 2"
                alt="Allura Chair 2"
                class="Allura-Chair-2"
              />
              </div>
            </div>
            </div>
          </div>
          </div>
          <div class="Line-1-outer">
          <div
            id="Line-1"
            data-name="Line 1"
            class="Line-1"
          >
            <div class="Line-2-outer">
            <div
              id="Line-2"
              data-name="Line 2"
              alt="Line 2"
              class="Line-2"
            >
            </div>
            </div>
            <div class="Line-3-outer">
            <div
              id="Line-3"
              data-name="Line 3"
              alt="Line 3"
              class="Line-3"
            >
            </div>
            </div>
            <div class="Line-1-1-outer">
            <div
              id="Line-1-1"
              data-name="Line 1"
              alt="Line 1"
              class="Line-1-1"
            >
            </div>
            </div>
          </div>
          </div>
          <div class="q------outer">
          <div
            id="q-----"
            data-name="Шапка"
            class="q-----"
          >
            <div class="Stud------outer">
            <div
              id="Stud-----"
              data-name="StudШкола"
              class="Stud-----"
            ><div key="0">StudШкола</div>
            </div>
            </div>
            <div class="q-----outer">
            <div
              id="q----"
              data-name="ВХОД"
              class="q----"
            >
              <div class="Rectangle-2-outer">
              <div
                id="Rectangle-2"
                data-name="Rectangle 2"
                alt="Rectangle 2"
                class="Rectangle-2"
              >
              </div>
              </div>
              <div class="q-----1-outer">
              <div
                id="q-----1"
                data-name="ВХОД"
                class="q-----1"
              ><div key="0">ВХОД</div>
              </div>
              </div>
            </div>
            </div>
            <div class="q-----2-outer">
            <div
              id="q-----2"
              data-name="ЯЗЫК"
              class="q-----2"
            >
              <div class="RUS-outer">
              <div
                id="RUS"
                data-name="RUS"
                class="RUS"
              ><div key="0">RUS</div>
              </div>
              </div>
              <div class="q----------outer">
              <div
                id="q---------"
                data-name="СТРЕЛОЧКА"
                class="q---------"
              >
                <div class="Line-5-outer">
                <img
                  id="Line-5"
                  data-name="Line 5"
                  alt="Line 5"
                  class="Line-5"
                />
                </div>
                <div class="Line-4-outer">
                <img
                  id="Line-4"
                  data-name="Line 4"
                  alt="Line 4"
                  class="Line-4"
                />
                </div>
              </div>
              </div>
            </div>
            </div>
            <div class="Line-6-outer">
            <div
              id="Line-6"
              data-name="Line 6"
              alt="Line 6"
              class="Line-6"
            >
            </div>
            </div>
          </div>
          </div>
          <div class="Women-Power-Social-D-outer">
          <img
            id="Women-Power-Social-D"
            data-name="Women Power Social Distance"
            alt="Women Power Social Distance"
            class="Women-Power-Social-D"
            src="{% static 'img/Women_Power_Social_Distance.png' %}"
          />
          </div>
          <div class="STUD------outer">
          <div

            data-name="STUD верх"
            class="STUD-----"
          ><div key="0">STUD</div>
          </div>
          </div>
          <div class="q-----------outer">
          <div
            id="q----------"
            data-name="ШКОЛА верх"
            class="q----------"
          ><div key="0">ШКОЛА</div>
          </div>
          </div>
          <div class="q------1-outer">
          <div
            id="q------1"
            data-name="ШКОЛА"
            class="q------1"
          ><span class="q------1-span1">ШК</span><span class="q------1-span2">О</span><span class="q------1-span3">ЛА</span>          </div>
          </div>
          <div class="q---------outer">
          <img
            id="q--------"
            data-name="пластырь"
            alt="пластырь"
            class="q--------"
          />
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>

    </div>
    {% endblock %}

  </html>
  