{% extends 'main/base.html'%}
{%  block title%}Регистрация{% endblock%}
{%load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'main/css/askquestion.css' %}">
{% endblock %}
{%  block content%}
<div class="form-body" >
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Вход</h3>

<form method="post"  class="requires-validation">
    {%csrf_token%}
    <div>{{form.non_field_errors}}</div>
    {% for f in form%}
    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}:</label>{{f}}</p>
    <div class="form-error">{{f.errors}}</div>
    {%endfor%}
     <div class="form-button mt-3">
    <button type="submit" class="btn btn-primary">Войти</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>

{% endblock%}