{% extends 'main/base.html'%}
{%load static %}
{% block title%}Меню{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400">

{% endblock %}
{% block content %}
<div class="group-1">
  <div class="relative-wrapper-two">
    <div class="vuzy-three">
      <div class="relative-wrapper-one">
        <p class="vuzy">ВУЗЫ</p>
        <a class="vuzy-two" style= " text-decoration:none; color:#ffffff" href="university">ВУЗЫ</a>
      </div>
      <p class="voprosy">ВОПРОСЫ</p>
    </div>
    <div class="profil-three">
      <p class="profil">ПРОФИЛЬ</p>
      <a class="profil-two" style= " text-decoration:none; color:#ffffff" href="profile">ПРОФИЛЬ</a>
    </div>
    <a class="voprosy-two" style= " text-decoration:none; color:#ffffff" href="category">ВОПРОСЫ</a>
  </div>
  <div class="kontakty-two">

    <a class="mail" style= "color:#ffffff; text-decoration:none" href="mailto:studschool.contact@yandex.ru?subject=Обращение в поддержку портала studschool.ru">MAIL</a>

  </div>
</div>
{% endblock %}