{% extends 'main/base.html'%}
{%load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
{% endblock %}
{% block content %}
<div class="group-1">
  <div class="relative-wrapper-two">
    <div class="vuzy-three">
      <div class="relative-wrapper-one">
        <p class="vuzy">ВУЗЫ</p>
        <p class="vuzy-two">ВУЗЫ</p>
      </div>
      <p class="voprosy">ВОПРОСЫ</p>
    </div>
    <div class="profil-three">
      <p class="profil">ПРОФИЛЬ</p>
      <p class="profil-two">ПРОФИЛЬ</p>
    </div>
    <p class="voprosy-two">ВОПРОСЫ</p>
  </div>
  <div class="kontakty-two">
    <p class="vk">VK</p>
    <p class="mail">MAIL</p>
    <p class="kontakty">КОНТАКТЫ</p>
  </div>
</div>
{% endblock %}